<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    <link rel="stylesheet" href="static/css/style.css">

</head>
<body>
    <div class="nav-bar">
        <ul class="nav-items">
            <li class="nav-item"><a href="#">Home</a></li>
            <li class="nav-item"><a href="course.html">Courses</a></li>
            <li class="nav-item"><a href="contact.html">Contact</a></li>
            <li class="nav-item"><a href="login.html"><button>Login</button></a></li>
        </ul>
    </div>
    <h3> Go through the Catlouge of the we are offering </h3>

    <div class="course" id="course">
        <h4> C Programming</h4>
        <p> C progromming is a great programming langage tht you can find in the whole world and the easiest and basic language a programmer should learn </p>
        <p>Price :  <del>800</del>    450 RS </p>
        <button>BUY NOW</button>
    </div>

    <div class="course" id="course">
        <h4> C++ Programming</h4>
        <p> C++ progromming is a great programming langage tht you can find in the whole world and the easiest and basic language a programmer should learn </p>
        <p>Price :  <del>1000</del>    600 RS </p>
        <button>BUY NOW</button>
    </div>

    <div class="course" id="course">
        <h4> Java Programming</h4>
        <p> Java progromming is a great programming langage tht you can find in the whole world and the easiest and basic language a programmer should learn </p>
        <p>Price :  <del>1500</del>    1000 RS </p>
        <button>BUY NOW</button>
    </div>

    <div class="course" id="course">
        <h4> Python Programming</h4>
        <p> python progromming is a great programming langage tht you can find in the whole world and the easiest and basic language a programmer should learn </p>
        <p>Price :  <del>1800</del>    900 RS </p>
        <button>BUY NOW</button>
    </div>
</body>
</html>